@model IEnumerable<DTO.EntityPiece>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $(".piece").draggable({


            start: function (event, ui) {

                $(this).fadeTo(200, 0.33)

            },

            stop: function (event, ui) {
                var Stoppos = $(this).position();
                var id = $(this).attr("id");
                $(this).fadeTo(200, 1)

                $.ajax({
                    type: "GET",
                    url: "Game/UpdatePiece",
                    data: "ID=" + id + "&x=" + Stoppos.left + "&y=" + Stoppos.top,
                    success: function (data) {

                    }
                });


            },

            revert: "invalid"

        });
        $("#plateau").droppable({
            drop: function (event, ui) {

            }
        });

        $(".caseImpaire, .casePaire").droppable({
            drop: function (event, ui) {
                $(this).fadeTo(100, 0.33);
                $(this).fadeTo(100, 1);
                $(this).css("border", "none");
            },

            out: function (event, ui) {
                $(this).fadeTo(100, 1);
            },

            over: function (event, ui) {
                $(this).fadeTo(100, 0.50);
            }

        });
    });

</script>


<h2>Game</h2>

<div id="gameWrapper">

    <div id="topLetters">
       <div class="caseLetters">A</div>
       <div class="caseLetters">B</div>
       <div class="caseLetters">C</div>
       <div class="caseLetters">D</div>
       <div class="caseLetters">E</div>
       <div class="caseLetters">F</div>
       <div class="caseLetters">G</div>
       <div class="caseLetters">H</div>
    </div>

    <div id="leftNumbers">
        <div class="caseNumbers">8</div>
        <div class="caseNumbers">7</div>
        <div class="caseNumbers">6</div>
        <div class="caseNumbers">5</div>
        <div class="caseNumbers">4</div>
        <div class="caseNumbers">3</div>
        <div class="caseNumbers">2</div>
        <div class="caseNumbers">1</div>
    </div>

    <div id="plateau">

        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>

        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>

        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>

        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>

        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>

        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>

        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>

        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>
        <div class="casePaire"></div>
        <div class="caseImpaire"></div>

        @foreach (var item in Model)
        {
            string color = string.Empty;
            string type = string.Empty;
            
            switch (item.Color)
            {
                case 0:
                    color = "w";
                    break;
                case 1:
                    color = "b";
                    break;
            }


            switch (item.Type)
            {
                case "pion":
                    type = "p";
                    break;
                case "tour":
                    type = "r";
                    break;
                case "roi":
                    type = "k";
                    break;
                case "dame":
                    type = "q";
                    break;
                case "fou":
                    type = "b";
                    break;
                case "cavalier":
                    type = "n";
                    break;
            }

            string image = color + type;
            
            <div id="@item.PieceID" style="background-image:url(/Images/chess/@(image).png);left:@(item.PosX)px;top:@(item.PosY)px;" class="piece"></div>
        }

    </div>

</div>